body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-image: url('./images/background.png');
}

InfoPage {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}
