body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-image: url('./images/background.png');
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.info-page {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}

.charatcers-list {
  flex-grow: 1;
  border: 1px lightsteelblue solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  height: 96vh;
  border-radius: 4px;
  width: 376px;
}

.header {
  padding: 8px;
  font-weight: bold;  
}

ul {
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  li {
    padding: 4px;
  }
}

ul {
  li {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

ul {
  li {
    a:hover {
      color: steelblue;
    }
  }
}

.NavigationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 8px 16px 8px 16px; 
  margin-bottom: 8px;
}

input {
  border-radius: 4px;
  outline: none;

  box-shadow: 0 0 6px 3px #ddd;
  border: 1px rgba(100, 148, 237, 0.288) solid;
}

button {
  padding: 4px 16px 4px 16px;
  background-color: rgb(71, 182, 250);
  border-radius: 4px;
  outline: none;

  box-shadow: 0 0 6px 3px #ddd;
  border: 1px rgba(100, 148, 237, 0.288) solid;
  margin: 0 4px 0 4px;

  &:hover {
    background-color: rgb(137, 209, 253);
  }
  
  &:active {
    background: rgb(23, 138, 209);
  }
}

.characters-info {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px;
}

.find-info {
  display: flex;
  align-items: center;
  margin: 6px;
}

.find-by-id-element {
  margin: 0 4px 0 4px;
  padding: 4px;  
}

.character-data {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px;
  margin: 8px;
  border: 1px lightsteelblue solid;
  width: 546px;
  border-radius: 4px;
}

.character-avatar {
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 220px;
  margin: 8px;
  border: 1px grey solid;
}

.character-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  div {
    margin: 4px;
  }
}

.data-item-value {
  margin-left: 4px;
}

.loaded {
  animation: showInfo 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showInfo {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.stars-list {
  padding: 0;
  list-style: none;

  li {
    padding: 6px;

    &:before {
      padding-right: 10px;
      font-weight: bold;
      color: #77AEDB;
      content: "\2606";
      transition-duration: 0.5s;
    }  

    &:hover::before {
      color: #337AB7;
      content: "\2605";
    }
  }
}
